name: Build & Deploy to Azure Container Apps

on:
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Log in to Azure
              uses: azure/login@v2    
              with:
                  client-id: ${{ secrets.AZURE_CLIENT_ID }}
                  tenant-id: ${{ secrets.AZURE_TENANT_ID }}
                  subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

            - name: Login to ACR
              run: |
                az acr login --name ${{ secrets.ACR_SERVER }}

            - name: Build and Push Container Image to registry
              run: |
                az acr build --registry ${{ secrets.ACR_SERVER }} --image ${{ secrets.ACR_REPOSITORY }}:${{ github.sha }} ./app