name: Build & Deploy to Azure Container Apps

on:
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
    login:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Log in to Azure
              uses: azure/login@v2    
              with:
                  client-id: ${{ secrets.AZURE_CLIENT_ID }}
                  tenant-id: ${{ secrets.AZURE_TENANT_ID }}
                  subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

            - name: Azure CLI script
              uses: azure/CLI@v2
              with:
                  azcliversion: latest
                  inlineScript: |
                      az account show